<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">찍사</a>
    
    {% if user.is_authenticated %}
        <a href="{% url 'user:switch-hosting' %}">
            
            {% if request.session.is_hosting  %}
                stop hosting
            {% else %}
                Start hosting
            {% endif %}
        </a>
        
        {% if request.session.is_hosting %}
            <a href="{% url 'photographers:create' %}">Apply zzigsa</a>
        {% endif %}
            
        <a href="{{user.get_absolute_url}}">Profile</a>
        <a href="{% url 'user:logout' %}">log out</a>
    {% else %}
        <a href="{% url 'user:login' %}">log in</a>
        <a href="{% url 'user:kakao-login' %}">kakao login</a>
        <a href="{% url 'user:signup' %}">sign up</a>
    {% endif %}

    {% block content %}
        
    {% endblock %}

</body>
</html>